body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
}

button {
    border-style: none;
}

 /*Logo*/
.card.logo {
    display: flex;
    height: 39px;
    width: 186px;
    align-items: flex-start;
    
}
.title__nav {
    transform:translate(12px, 3px);
}

/*Navigation*/
.container__nav {
    display: flex;
    height: 78px;
    width: 1400px;
    align-items: center;
    justify-content: space-around;
}

.card.btn_group1 {
    transform: translateX(120px);
    width: 350px;
}
.card.btn_group2 {
    width: 226px;
}
.card.btn_group1, .card.btn_group2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card.btn_group1 button, .card.btn_group1 button :hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 38px;
    width: 102px;
    border-radius: 4px;
}
.card.btn_group2 button, .card.btn_group2 button :hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 46px;
    border-radius: 4px;
}
.card.btn_group1 :hover, .card.btn_group2 :hover {
    background-color: #173A56;
    color: #FFF;
    border-radius: 4px;
    font-weight: 600;
    transition: 0.8s;
}
.btn.sign_in button {
    background-color: #FFF;
    color: #173A56;
    border-color: #BCD0E5;
    border-width: 1px;
    border-style: solid;
    width: 102px;
}
.btn.sign_up button{
    background-color: #FF9900;
    color: #FFF;
    width: 110px;
}

/*Header*/
.container__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 496px;
    width: 1400px;
    margin-top: 30px;
    
}
.card.header_left {
    display: flex;
    flex-direction: column;
    height: 331px;
    width: 518px;
}
.card.header.section1 {
    height: 108px;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}
.card.header.section2 {
    margin-top: 30px;
    height: 95px;
    width: 458px;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}
.card.header.section3 {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 53px;
    width: 366px;
}
.btn.get_started button, .btn.watch_video button{
    height: 53px;
    width: 175px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 4px;
}
.btn.get_started button {
    background-color: #FF9900;
    color: #FFF;
    font-weight: 700;
}
.btn.watch_video button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    color: #FF9900;
    font-weight: 600;
}
.btn.get_started :hover, .btn.watch_video :hover {
    background-color: #173A56;
    color: #FFF;
    border-radius: 4px;
    font-weight: 600;
    transition: 0.8s;
}

/*Feature*/
.container__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card.feature_heading {
    display: flex;
    height: 108px;
    width: 539px;
    margin-top: 100px;
    color: #2F281E;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.card.feature_middle {
    display: flex;
    height: 204px;
    width: 1095px;
    margin-top: 54px;
    margin-left: 23px;
    margin-right: 23px;
    transform: translateX(40px);
}
.card.feature.icon button {
    height: 50px;
    width: 50px;
    border-radius: 19px;
}
.card.feature.icon.purple button {
    background-color: #7752BE;
}
.card.feature.icon.yellow button {
    background-color: #FAB005;
}
.card.feature.icon.red button {
    background-color: #F03E3D;
}
.card.feature.icon.blue button {
    background-color: #4DADF7;
}
.card.feature.heading {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
    color: #2F281E;
}
.card.feature.text {
    margin-top: 13px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #544837;
}
.btn.sign_up_now button {
    margin-top: 34px;
    margin-bottom: 90px;
    height: 53px;
    width: 175px;
    font-weight: 700;
    font-size: 16px;
    background-color: #FF9900;
    color: #FFF;
    border-radius: 4px;
}

/*Design*/
.container__design {
    display: flex;
    height: 574px;
    width: 1110px;
}
.container__design-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 486px;
    margin-right: 104px;
}

.card.design.title { 
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 36px;
    color: #2F281E;
}
.card.design.heading {
    margin-top: 8px;
    margin-bottom: 12px;
    font-weight: 700;
    color: #2F281E;
}
.design.text {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.card.design.overtitle {
    margin-top: 26px;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}