body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}


/*Navigation*/
.container__nav {
    display: flex;
    height: 78px;
    width: 1400px;
    align-items: center;
    justify-content: space-around;
}
 /*Logo*/
.card.logo {
    display: flex;
    height: 39px;
    width: 186px;
    align-items: flex-start;
    
}
.title__nav {
    transform:translate(12px, 3px);
}

/*Buttons*/
.card.btn_group1 {
    transform: translateX(120px);
    width: 350px;
}
.card.btn_group2 {
    width: 226px;
}
.card.btn_group1, .card.btn_group2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card.btn_group1 button, .card.btn_group1 button :hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 38px;
    width: 102px;
    border-width: 0px;
    border-radius: 4px;
}
.card.btn_group2 button, .card.btn_group2 button :hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 46px;
    border-width: 0px;
    border-radius: 4px;
}
.card.btn_group1 :hover, .card.btn_group2 :hover {
    background-color: #173A56;
    color: #FFF;
    border-radius: 4px;
    font-weight: 600;
    transition: 0.8s;
}

.btn.sign_in button {
    background-color: #FFF;
    color: #173A56;
    border-color: #BCD0E5;
    border-width: 1px;
    border-style: solid;
    width: 102px;
}
.btn.sign_up button{
    background-color: #FF9900;
    color: #FFF;
    width: 110px;
}


/*Header*/
.container__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 496px;
    width: 1400px;
    margin-top: 30px;
    
}
.card.header_left {
    display: flex;
    flex-direction: column;
    height: 331px;
    width: 518px;
}
.card.section1 {
    height: 108px;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}
.card.section2 {
    margin-top: 30px;
    height: 95px;
    width: 458px;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}
.card.section3 {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 53px;
    width: 366px;
}
.btn.get_started button, .btn.watch_video button{
    height: 53px;
    width: 175px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border-width: 0px;
}
.btn.get_started button {
    background-color: #FF9900;
    color: #FFF;
    font-weight: 700;
}
.btn.watch_video button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    color: #FF9900;
    font-weight: 600;
}
.btn.get_started :hover, .btn.watch_video :hover {
    background-color: #173A56;
    color: #FFF;
    border-radius: 4px;
    font-weight: 600;
    transition: 0.8s;
}

.card.image_header {
    display: flex;
}

